<%- include('header'); %>
<script src="/js/script.js"></script>
<script src="/isotope.js"></script>


  <h1>Contemporary</h1>

<nav>
	<a href="/home">HOME</a>
  <a href="/work">WORK</a>
  <a href="/contact">CONTACT</a>
</nav>


<h2>Opdracht</h2>
<p class="uitleg">Deze museumapp werd gemaakt voor een schoolopdracht. Hierbij moest we een mobiele museumtoepassing ontwerpen waarin men verschillende kunstwerken online presenteerd. Deze site werd gemaakt met behulp van Node en Express </p>

<div class="icoon1">
  <img class="icoon" src="<%=icoon1%>" alt="" >
  <p class="pcontact"><span>Telefoonnummer: </span>+32 3 456 78 90</p>
  <p class="pcontact"><span>Info:  </span>info@contemporary.com</p>
</div>

<div class="icoon2">
  <img class="icoon" src="<%=icoon2%>" alt="" >
  <p class="pcontact"><span>Adres:  </span>Schoolstraat 15, 2970 Schilde</p>
</div>

<p class="footer">Bo Spitaels 2020</p>
<%- include('footer'); %>
